html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto; /* pushes footer to bottom */
}

.profile-container {
    min-height: 80vh;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
}

.left {
    width: 25%;
    height: 100%;
    border-right: 1px solid black;
    padding: 3rem 1rem ;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.right {
    padding: 3rem;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.user_info {

}

.tutor_profile_info {
    border: 1px solid black;
    min-width: 330px;
    min-height: 200px;
}

.tutor_profile_info_label{
    background-color: black;
    color: blueviolet;
    padding: .75rem;
}

.info_wrapper{
    padding: 1rem;
    font-size: 1.2rem;
}